/* Members
======================================*/
.members {
	position: absolute;
	z-index: 99;
	right: 0;
	height: 100%;
	width: 66.6%;
	background: $dark-color;
	transform: translateX(100%);
	transition: 0.25s all ease;

	&.show {
		transform: translateX(0);
	}

	&--title {
		padding: 0.5rem 0.25rem;
		font-size: 1.25rem;
	}

	&--list {
		list-style: none;

		li {
			padding: 0.5rem;
			overflow: scroll;

			&:nth-child(even) {
				background-color: lighten($dark-color, 5%);
			}
		}
	}
}
