/* Messages
======================================*/

.messages {
	padding: 0 0.5rem;
	height: 90%;
	width: 100%;

	&__display {
		height: 85%;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: scroll;

		.message {
			padding: 0.25rem 0.25rem;

			&__nickname {
				margin-right: 0.25rem;
				font-weight: bold;
			}

			&__time {
				font-size: 0.9rem;
				opacity: 0.8;
			}

			&:nth-child(even) {
				background-color: lighten($dark-color, 5%);
			}
		}
	}

	.typing-notification {
		visibility: hidden;
		height: 5%;
		font-size: 0.75rem;
		font-weight: bold;

		animation-play-state: paused;

		&.show {
			visibility: visible;
			animation: pulse 1.5s infinite alternate;
			animation-play-state: running;
		}
	}

	&__form {
		height: 10%;
		width: 100%;

		&__input {
			padding: 0.5rem;
			border: 0;
			border-radius: 5px;
			width: 80%;
			color: inherit;
			background-color: #121212;
		}

		&__submit {
			background: rgb(130, 224, 255);
			border: 1px solid coral; // Replace with user custom color
			border-radius: 5px;
			color: inherit;
			background: none;
			padding: 0.5rem;

			&:hover {
				color: lighten($light-color, 50%);
			}
		}
	}
}
